{% extends 'layout.twig' %}



{% block navbar %}
    <a href="{{ routes.user_logout }}">Logout</a>
{% endblock %}



{% block content %}

    <section class="section">
        <div class="container content">
            <h1 class="h1">Admin Dashboard</h1>


        </div>
    </section>


    {% if not clients %}
        <section class="hero is-medium is-light">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title">
                        No clients in the system.
                    </p>
                    <br>
                    <p class="subtitle">
                        <a class="button is-primary" href="{{ routes.register_client }}">Add Clients!</a>
                    </p>
                </div>
            </div>
        </section>

    {% else %}


    {% endif %}

{% endblock %}



{% block scripts %}
    {{ parent() }}
{% endblock %}
