<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ site.title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/apple-touch-icon.png">

    {% block styles %}{% endblock %}

    {% block pageStyles %}{% endblock %}

</head>
<body>
    {% block pageHeader %}{% endblock %}

    {% block pageContent %}{% endblock %}

    {% block pageFooter %}{% endblock %}

    {% block scripts %}{% endblock %}

    {% block pageScripts %}{% endblock %}
</body>
</html>

