{% extends 'layout.twig' %}


{% block content %}

    <section class="section">
        {% if new_setup_message %}
            <div class="notification is-primary has-text-centered">
                <div class="content">
                    {{ new_setup_message|md|raw }}
                </div>
            </div>
        {% endif %}

        {% set formSubmitLabel  = 'Register' %}
        {% set formId           = 'user-forgot-password' %}
        {% set formActionRoute  = routes.register_admin %}

        {% include 'partials/form.twig' %}
    </section>

{% endblock %}



{% block scripts %}
    {{ parent() }}
    <script src="{{ "js/form-handler.js"|asset }}"></script>
    {#
    <script>{{ "js/form-handler.js"|embed }}</script>
    #}
{% endblock %}
