{% extends 'layout.twig' %}


{% block content %}

    <section class="section">
        <div class="content">
        </div>
    </section>

{#     {% set formTitle            = 'User Login' %}
    {% set formSubmitLabel      = 'Login' %}
    {% set formId               = 'user-login' %}
    {% set formForgotPassword   = true %}
    {% set formActionRoute      = routes.login %} #}

    {% include 'partials/form.twig' %}

{% endblock %}



{% block scripts %}
    {{ parent() }}
    <script src="{{ "js/form-handler.js"|asset }}"></script>
{% endblock %}
