{% extends 'layout.twig' %}


{% block content %}

    <h1 class="h1">Forgot Password</h1>

    {% set formSubmitLabel  = 'Submit' %}
    {% set formId           = 'user-forgot-password' %}
    {% set formActionRoute  = routes.forgot_password %}

    {% include 'partials/form.twig' %}

{% endblock %}



{% block scripts %}
    {{ parent() }}
    {% include 'partials/form-handler.twig' %}
{% endblock %}
