/**
 * © 2015 Brandtley McMinn <labs@gbox.name>
 */
@charset "UTF-8"


// IMPORT ANIMATE CSS
// ----------------------------------------------------------------------

$anim-shake = true
// $anim-pulse = true
$anim-flash = true

@import "_animate"



// IMPORT FONTAWESOME
// ----------------------------------------------------------------------

$fa-user = true

@import "_fontawesome"



// MAIN LAYOUT STYLES
// ----------------------------------------------------------------------

body
    min-height: 100vh



// FORM STYLES
// ----------------------------------------------------------------------

.required
    color: red


.user-form
    max-width: 440px
    margin: auto



.navbar
    .icon .fa
        font-size: 100%

    .icon .fa :before
        text-decoration: none
